 *{margin: 0; padding:0; box-sizing: border-box;overflow-x: hidden;}

.set{
 background-image:url(../assets/wp2315643-animated-pizza-wallpapers.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed
  ;
  background-position: center;
  }

.set1{margin-top:2rem;
margin-right: 2rem;
margin-left: 2rem;
margin-bottom:2rem}


#color{color: aliceblue;
margin-left: 2rem;}


Card.Body Card.Title{
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Set{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;
}