.App {
 margin:0;
 padding:0;
 height:100vh;
  background-image:url(./assets/wp8258131-slice-of-pizza-wallpapers.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed
  ;
  background-position: center;
}

